<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Source>
        <RTSPAPI>
            <ID>01</ID>
            <RTSPURL>"/content/openpifpaf/openpifpaf/input/test.mp4"</RTSPURL>
            <Scale>0.7</Scale>
        </RTSPAPI>
    </Source>
    <Output>
        <FileOutput>
            <FileName>"/content/openpifpaf/openpifpaf/input/test.mp4"</FileName>
        </FileOutput>
    </Output>
</config>
